{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load waihui_templates %}
{% load tz %}{% localtime on %}
{% get_current_timezone as TIME_ZONE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="format-detection" content="email=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-title" content="{% trans "PandaInn" %}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>{% block title %}{% endblock %} - {% trans "PandaInn" %}</title>
  {% block inhead %}{% endblock %}
</head>
<body>

<div id="ie8">
  <p>{% blocktrans trimmed %}Your browser is out of date! It looks like you are using an unsupported browser. For the best experience on the web, please update your browser. <a href="https://browsehappy.com/" target="_blank">Upgrade now!</a>{% endblocktrans %}</p>
</div>

<div class="header clearfix">
  <div class="header-box">
    <div class="logo fl">{% trans "PandaInn" %}</div>
    <a href="javascript:" class="dropdown">
      <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
    </a>
    <div class="clock clearfix" title="{{info.now_tz.date}}. {% trans "Your current timezone is" %} {{TIME_ZONE}}.">
      <div class="clock-icon fl"></div>
      <div class="fl"><span id="js-clock-text">{{info.now_tz.time}}</span> 
      ({% if TIME_ZONE|split:"/"|last == "Harbin" or TIME_ZONE|split:"/"|last == "Shanghai" or TIME_ZONE|split:"/"|last == "Chongqing" or TIME_ZONE|split:"/"|last == "Chungking" or TIME_ZONE|split:"/"|last == "PRC" or TIME_ZONE|split:"/"|last == "ROC" %}Beijing{% else %}{{TIME_ZONE|split:"/"|last}}{% endif %})
      </div>

    </div>
    {% if info.is_login%}
    <div class="notification js-notification">
      <a href="{% url 'main:notifications' %}">{{info.unread_anotis|length|default:""}}</a>
      <div class="notification-dropdown js-notification-dropdown">
        <ul>
          {% for anoti in info.anotis|dictsort:"read"|slice:":5"  %}
          <li>
            <a class="{% if not anoti.read %}new{% endif %}" href="{% url 'main:notification_go' anoti.id %}">
              {{anoti.content|safe}}
            </a>
          </li>
          {% empty %}
          <li><center>You have no notifications right now.</center></li>
          {% endfor %}
        </ul>
        <a href="{% url 'main:notifications' %}" class="show-all">See all notifications...</a>
      </div>
    </div>      
    {% endif %}

    <div class="dropdown-box js-dropdown-box">
      <ul class="menu">
        <li>
          <a href="javascript:" {% if request.path == '/p/' %}class="active"{% endif %}>Home</a>
        </li>
        <li>
          <a href="javascript:" {% if request.path == '/p/topics/' %}class="active"{% endif %}>Find Courses</a>
        </li>
        <li>
          <a href="javascript:" {% if request.path == '/p/teachers/' %}class="active"{% endif %}>Find Teachers</a>
        </li>
      </ul>

      {% if info.is_login%}
      <div class="user js-user">
        <a href="javascript:" class="user-box">
          <div class="avatar fl">
            <img src="images/avatar-9c6b7816316e56234a6e4904274fe659.png" alt="josh">
          </div>
          <div class="name fl">{{info.current_user.buyer.nickname}}</div>
          <div class="arrow fl"></div>
        </a>

        <ul class="user-dropdown js-user-dropdown">
          <li>
            <a href="{% url 'mvp:dashboard' %}">Dashboard</a>
          </li>
          <li>
            <a href="{% url 'main:logout' %}">Log out</a>
          </li>
        </ul>
      </div>
      {% else %}
      <ul class="user">
        <li>
          <a href="{% url 'main:login' %}" ><span style="color: white;">{% trans "Login" %}</span></a>
        </li>
        <li>
          <a href="{% url 'main:signup' %}"><span style="color: white;">{% trans "Signup" %}</span></a>
        </li>
      </ul>
      {% endif %}
    </div>

  </div>
</div>

{% block container %}
<div class="container clearfix">
</div>
{% endblock %}

{% block modal %}
<div class="modal js-modal">
</div>
{% endblock %}

<div class="footer">
  <ul class="footer-box">
    <li>
      <a href="javascript:">About us</a>
    </li>
    <li>
      <a href="javascript:">Join us</a>
    </li>
    <li>
      <a href="javascript:">Contact</a>
    </li>
    <li>
      PandaInn &copy; 2017
    </li>
  </ul>
  <div class="language js-language">
    <a href="javascript:" class="select">
      <span>English</span>
      <i class="fa fa-caret-up" aria-hidden="true"></i>
      <select class="real-select">
        <option value="1">English</option>
        <option value="1">中文(简体)</option>
        <option value="1">اللغة العربية</option>
      </select>
    </a>
    <ul class="language-dropup js-language-dropup">
      <li>
        <a href="javascript:">English</a>
      </li>
      <li>
        <a href="javascript:">中文(简体)</a>
      </li>
      <li>
        <a href="javascript:">اللغة العربية</a>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="/static/mvp/js/common.js"></script>
{% block scriptlist %}{% endblock %}
<script>
  var ie = (function () {

    var undef;
    var v = 3;
    var div = document.createElement('div');
    var all = div.getElementsByTagName('i');

    while (
      div.innerHTML = '<!--[if gt IE ' + (++v) + ']><i></i><![endif]-->',
        all[0]
      );

    return v > 4 ? v : undef;

  }());

  if (ie < 9) {
    var ie8 = document.getElementById('ie8');
    ie8.style.display = 'block';
  }

  // Clock time updating
  // let severtime_ori = new Date('2017-07-12T07:52:30.296888+00:00');
  var severtime_ori = new Date(1989, 11, 14, {{info.now_tz.hour}}, {{info.now_tz.minute}}, {{info.now_tz.second}}); //only time part is meaningful. date and timezone are really wrong and can be omitted, this might be little tricky.
  var clienttime_ori = new Date();
  var clienttime_now = clienttime_ori;
  var timedelta, showtime;
  function clockTime(){
    clienttime_now = new Date();
    timedelta = clienttime_now -  clienttime_ori;
    showtime = new Date(severtime_ori.getTime() + timedelta);
    document.getElementById('js-clock-text').innerHTML = showtime.getHours()  + ":" + 
                                                         ("0" + showtime.getMinutes()).slice(-2) + ":" + 
                                                         ("0" + showtime.getSeconds()).slice(-2);
    setTimeout(function () {clockTime()}, 1000);
  }
  clockTime();
</script>
</body>
</html>
{% endlocaltime %}


