{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This content for adding a plan to sku." %}
    {% trans "The priority language：" %}{{ LANGUAGE_CODE|language_name_local }}.
    <a href="{% url 'main:signup' %}">{% trans "Sign up now!" %}</a>    
    <a href="{% url 'main:login' %}">{% trans "Already have accounts?" %}</a>
    <p>================================</p>
    <ul>
        <li>{{msg}}</li>
        <li>Go back to SKU <a href="{% url 'main:showsku' sku.id %}">#{{sku.id}}</a></li>
    </ul>
    <p>================================</p>
    <form method="post" enctype="multipart/form-data" action="{% url 'main:addplan' sku.id %}">
        {{uf.as_p}}
        {% csrf_token %}
        <input type="submit" name="submit">
    </form>
{% endblock content %}