{% extends "main/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    <h2>{% trans "Want to recharge" %} <span style="">{{amount}}</span> {% trans "YUAN?" %}</h2>
    <span>* {% trans "Payment info:" %}</span>
    <p>{{timenow}}</p>
    <ul>
        <h2>* build-in</h2>
        <li><strong>Raw</strong></li>
        {{order_string}}
        <li><strong>DecodeRaw</strong></li>
        {{decoderaw}}
        <li><strong>Url</strong></li>
        {{alipayurlget}}
        <p></p>
        <a href="{{alipayurlget}}"  target="view_window">Go to Pay</a>
    </ul>

    <form action="{{alipayurlpost}}" method="POST">
        <input type="text" name="order_string" value="{{successurlget}}">
        <input type="submit" value="Pay!">
    </form>
    


{% endblock content %}