{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
        <title>{% block title %}{% trans "SilkyChinese" %}{% endblock %}</title>
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        {% block javascript %}{% endblock javascript %}
        {% block stylesheet %}{% endblock stylesheet %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        {% block head %}{% endblock head %}
</head>

<body style="font-family:serif;">
    {% if info.is_login %}
    <a href="{% url 'main:home' %}">{% trans "Home" %}</a>
    [{{info.current_user.buyer.nickname}}{% trans ", welcome back!" %}]
    <a href="{% url 'main:logout' %}">{% trans "Log out now!" %}</a>
    {% else %}
    <a href="{% url 'main:home' %}">{% trans "Home" %}</a>
     [Not loged in]
    <a href="{% url 'main:login' %}">{% trans "Log in now!" %}</a>
    <a href="{% url 'main:signup' %}">{% trans "Sign up now!" %}</a>    
    {% endif %}
    <hr>
    {% block content %}
    {% endblock content %}
</body>

</html>