{% load i18n %}
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    
        {% block title %}
        	<title>{{page_title}}</title>
        {% endblock title %}
        <script type="text/javascript" src="/static/js/jquery.js"></script>
        {% block javascript %}{% endblock javascript %}
        {% block stylesheet %}{% endblock stylesheet %}
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        {% block head %}{% endblock head %}
</head>

<body>
    
    {% block content %}
    	
    {% endblock content %}
</body>

</html>