{% extends "main/base.html" %}
{% load i18n %} 
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}
{% localtime on %}

{% block title %}
    {{heading}}

{% endblock title %}

{% block content %}
    <h1>
    {% if heading %}
        {{heading}}
    {% else %}
        一定出了什么问题
    {% endif %}
    </h1>
        
    <p>================================</p>
    <p>{{msg}}</p>
    <p>================================</p>
{% endblock content %}

{% endlocaltime %}