{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}
{% block content %}
    <h1>{{heading}}</h1>
    <p>===================</p>
    <p>{{method}}</p>
    <p>{{result}}</p>
    {% if sku.status == 8 or sku.status == 9 %}
        <p>===================</p>
        {% if profile == "provider" %}
            Hi, provider.
        {% elif profile == "buyer" %}
            Hi, Buyer.
    {% endif %}
    say something about this course
    
    {% if profile == "provider" %}
        <form action="" enctype="multipart/form-data" method="post">
            {{uf.as_p}}
            {% csrf_token %}
            <input type="submit" name="submit">
        </form>
    {% elif profile == "buyer" %}
        <h2>Questionnair</h2>
        {% block jquery %}
        {% autoescape off %}
            <script type="text/javascript">
            $(document).ready(function(){
                var js_questionnaire = {{js_questionnaire}}
                for (q in js_questionnaire)
                {
                    console.log(q);
                    var q_item = js_questionnaire[q];
                    console.log(q_item)
                    var q_name = q_item.name;
                    console.log(q_name);

                    $("p#q1name").append('<li>'+q+":"+q_name+'</li>');
                    if (qa=q_item.answer) {
                        var q_table ='<table>\
                                <thead>\
                                    <tr>\
                                        <th>choice</th>\
                                        <th>content</th>\
                                        <th>score</th>\
                                    </tr>\
                                </thead>\
                                <tbody>'
                        for(a in qa){
                            console.log(a)
                            var answer = qa[a];
                            console.log(typeof(answer))
                            console.log(answer)
                            a_content = answer.name
                            a_score = answer.score
                            for (a_item in answer){
                                console.log(a_item)
                                console.log(a_content);
                                var name_a_item = answer[a_item];
                            }
                            q_table +='<tr><td>'+a+"</td><td>"+a_content+"</td><td>&emsp;<strong><span>得分:</span>"+a_score+"</strong></td>";
                        }
                        q_table +='</tbody></table>'
                        $("p#q1name").append(q_table)
                    }
                }
                // $("p#q1name").append(js_questionnaire.q1.name)
                console.log(js_questionnaire.q1.name)
            })</script>

        {% endautoescape %}
        {% endblock jquery %}
    <p id="q1name"></p>
    <h2>Questionnaire Form</h2>
    <form enctype="multipart/form-data" method="post">
            {{ufquestionnaire.as_p}}
            {% csrf_token %}
            <input type="submit" name="submit">
    </form>

    <h2>Fieldes</h2>
    <p>a_fields:{{a_fields}}</p>
    <p>{{dictofufq}}</p>

        {% else %}
            不能评价啦
            <p>==================</p>
        {% endif %}


    {% endif %}
{% endblock content %}