{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This the content of home page." %}
    {% trans "The priority language：" %}{{ LANGUAGE_CODE }}.
    <a href="{% url 'main:signup' %}">{% trans "Sign up now!" %}</a>    
    <a href="{% url 'main:login' %}">{% trans "Already have accounts?" %}</a>
    {% trans "This is our first auto-translation page." %}

    <h1>{% trans "TEST" %}</h1>
    <p>{% trans "link to other pages" %}</p>
    {# <a href="{% url 'main:index' %}">{% trans "Show Index" %}</a> #}
    {# <a href="{% url 'main:user' %}">{% trans "Show Users" %}</a> #}
    {# <a href="{% url 'main:topic_category'%}">{% trans "Show Topic category" %}</a> #}
    {# <a href="{% url 'main:tutor' %}">{% trans "Show tutortor" %}</a> #}
    <a href="{% url 'main:addsku' %}">{% trans "Add SKU" %}</a>
    <a href="{% url 'main:skulist' %}">{% trans "Sku List" %}</a>

{% endblock content %}