{% extends "main/base.html" %}
{% load i18n %}

{% block title %}
    
{% endblock title %}

{% block content %}

    <a href="{% url 'main:signup' %}">{% trans "免费注册" %}</a>
    <p>{% trans "欢迎回来" %}</p>
    {% if next %}
    <form method="post" enctype="multipart/form-data" action="/login/?next={{next}}">
    {%else%}
    <form method="post" enctype="multipart/form-data" action="/login/">
    {% endif %}
        {{uf.username}}
        {{uf.password}}
        {% csrf_token %}
        <input type="submit" name="submit">
    </form>
    {{msg}}
{% endblock content %}
