{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "Pick up a topic." %}

    <p>================================</p>
    <p>{{msg}}</p>
    <p>================================</p>

    <table>
        <thead>
            <tr>
                <th>Topic</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
                {% for topic in topics %}
            <tr>
                    <td><a href="{% url 'main:skuintopic' topic.id %}">{{topic.name}}</a> </td>
                    <td>{{topic.category}}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
    <p></p>
    {% trans "the courses wait your plan" %}
    <p></p>
    <table>
        <thead>
            <tr>
                <th>Provider</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
        </thead>
        <tbody>
                {% for sku in no_topics %}
            <tr>
                    <td>{{sku.provider}}</td>
                    <td>{{sku.start_time|date:"Y-m-d H:i (e)"}}</td>
                    <td>{{sku.end_time|date:"Y-m-d H:i (e)"}}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
    <p></p>
<a href="{% url 'main:home' %}">{% trans "Get back to home" %}</a>        
{% endblock content %}