{% extends "main/base.html" %}
{% load i18n %} 
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}{% trans "Schedule settings" %}</h1>
    <p>================================</p>
    <ul>
        <li>{{msg}}</li>
        <li>Go <a href="{% url 'main:home' %}">home</a></li>
        <li>Time zone using in this page: {{TIME_ZONE}}, and now is {{now_tz|date:"Y-m-d H:i:s (O)"}}.</li>
    </ul>
    <p>================================</p>
    <p id="addLi">添加列表项</p>
    <ul id="time_ul"></ul>
    <p id="collect">看看结果</p>

    <form method="post" enctype="multipart/form-data" action="{% url 'main:schedule' %}">
        {{uf.as_p}}
        {% csrf_token %}
        <input type="submit" name="submit">
    </form>
{% endblock content %}



{% block head %}
<script type="text/javascript">
$(document).ready(function(){
//按钮的点击事件，每次点击的时候动态的创建一个  li对象，jquery直接通过 ul对象的id，使用 append 方法 动态的把li添加到ul里面
    $("#addLi").bind("click",function(){ 
        var google = new Date(jQuery.now());
        var msg = '<li><input id="'+google+'" type="checkbox" name="'+google+'" value="'+google+'" /> <label for="'+google+'"><a href="javascript:void(0)"></a><span style="">' + google + '</span></label></li>';
        $("#time_ul").append(msg);
        //每次添加万一个元素后，都会给改li绑定移除事件
        // bindListener();
    });
    //
    function bindListener(){
        //给所有的 ul li重新绑定移除事件
        $("#time_ul li a").unbind().click(function(){
          //直接通过.remove() 方法移除掉li元素,页面自动就会刷新
          $(this).parent().remove();
        });
    }
    //jquery 检索ul li的所有元素
    $("#collect").click(function(){
        var schedule_result= new Array()
        var data = "";
        // $("#time_ul").find("li span").each(function(index,value){
        //     // data += $(this).text() + "|";
            
        // })
        $("input[type='checkbox']:checked").each(function(index,value){
            schedule_result.push({
                'start_time':$(this).val(),
                'end_time':$(this).val()
            });
        })
        // alert(data);
        $("#id_schedule").val(JSON.stringify(schedule_result));
    })
})
</script>
{% endblock head%}