{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% trans "Booking a course" %}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This the content of replying to sku." %}
    {% trans "The priority language：" %}{{ LANGUAGE_CODE|language_name_local }}.
    <a href="{% url 'main:signup' %}">{% trans "Sign up now!" %}</a>    
    <a href="{% url 'main:login' %}">{% trans "Already have accounts?" %}</a>
    {{result}}
    <p>================================</p>
    <p>{{msg}}</p>
    <p>================================</p>
{% endblock content %}