{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This the content of replying to sku." %}
    {{result}}
    <p>================================</p>
    <p>{{msg}}</p>
    <p>================================</p>

        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Status</th> 
                    <th>Provider</th>
                    <th>Buyer</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{sku.topic}}</td>
                    <td>{{sku.status}}</td>
                    <td>{{sku.provider}}</td>
                    <td>{{sku.buyer.all}}</td>
                    <td>{{sku.start_time}}</td>
                    <td>{{sku.end_time}}</td>
                    <td>{{sku.created}}</td>
                    <td>{{sku.modified}}</td>
                </tr>
            </tbody>
        </table>
    <p>================================</p>
    <p>Plans on this SKU</p>
    {% if has_plan %}
        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Content</th>
                    <th>Assignment</th>
                    <th>Slides</th>
                    <th>Materiallinks</th>
                    <th>Materialhtml</th>
                    <th>Voc</th>
                    <th>Copy_from</th>
                    <th>Sumy</th>
                    <th>Roomlink</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                {# {% for plan in plans %} #}
                <tr>
                    <td>{{plan.topic}}</td>
                    <td>{{plan.content}}</td>
                    <td>{{plan.assignment}}</td>
                    <td>{{plan.slides}}</td>
                    <td>{{plan.materiallinks}}</td>
                    <td>{{plan.materialhtml}}</td>
                    <td>{{plan.voc}}</td>
                    <td>{{plan.copy_from}}</td>
                    <td>{{plan.sumy}}</td>
                    <td>{{plan.roomlink}}</td>
                    <td>{{plan.created}}</td>
                    <td>{{plan.modified}}</td>
                </tr>
                {# {% endfor %} #}
            </tbody>
        </table>
    {% elif is_provider %}
    <a href="{% url 'main:addplan' sku.id %}">{% trans "Accept this sku, Add a Plan to this SKU" %}</a>
    {% else %}
    {% trans "You are not the teacher of this class, so you can not add plan." %}
    {% endif %}
    <p>================================</p>
    <p>Replys to This SKU</p>

        <table>
            <thead>
                <tr>
                    <th>User</th>
                    <th>Type</th>
                    <th>Content</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>  
            </thead>
            <tbody>
                {% for rts in rtss %}    
                <tr>
                    <td>{{rts.user}}</td>
                    <td>{{rts.type}}</td>
                    <td>{{rts.content}}</td>
                    <td>{{rts.created}}</td>
                    <td>{{rts.modified}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% if is_involved %}
    <a href="{% url 'main:replyrts' sku.id %}">{% trans "Add a reply" %}</a>
    {% else %}
    {% trans "You are not involved in this class, so you can't leave comments" %}
    {% endif %}

    <p>================================</p>
    {# <a href="{% url 'main:addrts' %}">{% trans "Add a Repy to this SKU" %}</a> #}
    

{% endblock content %}