{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This the content of replying to sku." %}
    {{result}}
    <p>================================</p>
    <p>{{msg}}</p>
    <p>================================</p>

        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Status</th> 
                    <th>Provider</th>
                    <th>Buyer</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Created</th>
                    <th>Modified</th>
                    {% if is_provider == 1 %}
                        <th>Score</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{sku.topic}}</td>
                    <td>{{sku.status}}({{sku.get_status_display}})</td>
                    <td>{{sku.provider}}</td>
                    <td>{{sku.buyer.all|safeseq|join:", "}}</td>
                    <td>{{sku.start_time}}</td>
                    <td>{{sku.end_time}}</td>
                    <td>{{sku.created}}</td>
                    <td>{{sku.modified}}</td>
                    {% if is_provider == 1 %}
                        <th>{{sku.reviewtoprovider.score}}</th>
                    {% endif %}
                </tr>
            </tbody>
        </table>
    <p>================================</p>
    {% if sku.has_plan %}
    <h2>Plans on this SKU</h2>
        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Content</th>
                    <th>Assignment</th>
                    <th>Slides</th>
                    <th>Materiallinks</th>
                    <th>Materialhtml</th>
                    <th>Voc</th>
                    <th>Copy_from</th>
                    <th>Sumy</th>
                    <th>Roomlink</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                {# {% for plan in plans %} #}
                <tr>
                    <td>{{sku.plan.topic}}</td>
                    <td>{{sku.plan.content}}</td>
                    <td>{{sku.plan.assignment}}</td>
                    <td>{{sku.plan.slides}}</td>
                    <td>{{sku.plan.materiallinks}}</td>
                    <td>{{sku.plan.materialhtml}}</td>
                    <td>{{sku.plan.voc}}</td>
                    <td>{{sku.plan.copy_from}}</td>
                    <td>{{sku.plan.sumy}}</td>
                    <td>{{sku.plan.roomlink}}</td>
                    <td>{{sku.plan.created}}</td>
                    <td>{{sku.plan.modified}}</td>
                </tr>
                {# {% endfor %} #}
            </tbody>
        </table>
        {% if is_provider %}
        <a href="{% url 'main:makeplan' sku.id %}">{% trans "Modify this plan" %}</a>
        {% endif %}
    {% elif is_provider %}
    <a href="{% url 'main:makeplan' sku.id %}">{% trans "Accept this sku, Add a Plan to this SKU" %}</a>
    <a href="{% url 'main:provider_cancel_sku' sku.id %}">{% trans "Reject it" %}</a>
    {% else %}
    <p>No Plans right now</p>
    {% trans "Waiting an unique plan fits buyer's level" %}
    {% endif %}
    {% if r2bs %}
    <p>================================</p>
    <h2>
        {% trans "Teacher's advice on afterclass" %}
    </h2>
    <table>
            <thead>
                <tr>
                    <th>Questionnaire</th>
                    <th>Comment</th>
                    <th>Created</th>
                    <th>Modified</th>
                    {% if is_provider %}
                        <th>For</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for r2b in r2bs %}
                    <tr>
                        <td>{{r2b.questionnaire}}</td>
                        <td>{{r2b.comment}}</td>
                        <td>{{r2b.created}}</td>
                        <td>{{r2b.modified}}</td>                         
                        {% if is_provider %}
                            <td>{{r2b.buyer}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody> 
        </table>
        
    {% endif %}   
    
    {% if r2ps %}
    <p>================================</p>  
    <h2>Review to provider</h2>
        <table>
            <thead>
                <tr>
                    <th>Questionnaire</th>
                    <th>Comment</th>
                    <th>Created</th>
                    <th>Modified</th>
                    {% if is_provider %}
                        <th>From</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for r2p in r2ps %}
                    <tr>
                        <td>{{r2p.questionnaire}}</td>
                        <td>{{r2p.comment}}</td>
                        <td>{{r2p.created}}</td>
                        <td>{{r2p.modified}}</td>                         
                        {% if is_provider %}
                            <td>{{r2p.buyer}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
    {% endif %}

    <p>================================</p>  
    {% if rtss %}
        <h2>Replys to This SKU</h2>
            <table>
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Type</th>
                        <th>Content</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>  
                </thead>
                <tbody>
                    {% for rts in rtss %}    
                    <tr>
                        <td>{{rts.user}}</td>
                        <td>{{rts.type}}</td>
                        <td>{{rts.content}}</td>
                        <td>{{rts.created}}</td>
                        <td>{{rts.modified}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% else %}
        <p>No comments right now</p>
        {% if is_involved %}
        <a href="{% url 'main:replyrts' sku.id %}">{% trans "Add a reply" %}</a>
        {% else %}
        {% trans "You are not involved in this class, so you can't leave comments" %}
        {% endif %}
    {% endif %}
        
    <p>================================</p>
    {% if not sku.is_past %}
        {% if is_provider %}
            {% if sku.status == 5 %}
                <p><a href="{% url 'main:provider_ready_sku' sku.id %}">Ready to teach</a></p>        
            {% elif sku.status == 7 %}
                <p><a href="{% url 'main:provider_finished_sku' sku.id %}">the course is Finished</a></p>  
            {% endif %}
        {% endif %}
        {% if sku.has_plan and sku.status == 6 and is_buyer %}
            <strong><a href="{% url 'main:buyer_ready_sku' sku.id%}">Ready to learn</a></strong>    
        {% elif sku.status == 8 and is_buyer %}
            <p><a href="{% url 'main:feedback_sku' sku.id %}">Give a Feedback</a></p>
        {% endif %}
    {% endif %}
    

{% endblock content %}