{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {% trans "Booking a course" %}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This the content of replying to sku." %}
    {% trans "The priority language：" %}{{ LANGUAGE_CODE|language_name_local }}.
    <a href="{% url 'main:signup' %}">{% trans "Sign up now!" %}</a>    
    <a href="{% url 'main:login' %}">{% trans "Already have accounts?" %}</a>
    
    
    <p>================================</p>
    <p>{{msg}}</p>
    <p>================================</p>

        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>ID</th>
                    <th>Provider</th>
                    <th>Buyer</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for sku in skus %}
                <tr>
                    <td><a href="{{sku.id}}">{{sku.topic}}</a></td>
                    <td>{{sku.id}}</td>
                    <td>{{sku.provider}}</td>
                    <td>{{sku.buyer.all}}</td>
                    <td>{{sku.start_time}}</td>
                    <td>{{sku.end_time}}</td>
                    <td>{{sku.created}}</td>
                    <td>{{sku.modified}}</td>

                </tr>
                {% endfor%}
            </tbody>
        </table>
<p></p>
<a href="{% url 'main:home' %}">{% trans "Get back to home" %}</a>
{% endblock content %}