{% extends "main/base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    <div class="">
        <p>Make your every effort meaningful</p>
        <h2>{% trans "* Balance information" %}</h2>
        <ul>
            <li><span>{% trans "my balance:" %}{{wallet.cny_balance}}[<a href="javascript:void(0)" id="recharge">{% trans "Recharge" %}</a>]</span></li>
        </ul>
        <h2>{% trans "* Recent transactions" %}</h2>

    </div>


    <script type="text/javascript">
        $(document).ready(function(){
            $amountInput = $(
                '<form style="margin:0px;display:inline;" action="{% url 'main:casher' %}" method="get"><input id="amount" type="text" name="amount" ><input type="submit" value="{% trans "Submit" %}"></form></li>'
                )
            $("#recharge").click(function(){
                $(this).parent().append($amountInput)
            })
        })
    </script>

{% endblock content %}
