{% extends "mvp/base/dashboard-base.html" %}
{% load i18n %} 
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}{% trans "My classes" %} - {% trans "Dashboard" %}{% endblock %}

{% block content %}
  <div class="content fl"> 
    <div class="content-box">
      <div class="topbar">
        <div class="title">{% trans "MY CLASSES" %}</div>
      </div>
      <div class="head clearfix">
        <div class="title fl">{% trans "ALL CLASSES" %}</div>
        <a class="btn fl" href="{% url 'mvp:dashboard' %}">&lt; {% trans "Back to dashboard" %}</a>
        <div class="search-box fr">
          <input class="fl" type="text" placeholder="{% trans "Search my class" %}"/>
          <a class="search-btn fl" href="javascript:"></a>
        </div>
      </div>
      <div class="body">
        <table class="table">
          <thead>
          <tr>
            <td>{% trans "Topic" %}</td>
            <td>{% trans "Tutor" %}</td>
            <td>{% trans "Time" %}</td>
            <td>{% trans "Status" %}</td>
            <td>{% trans "Actions" %}</td>
          </tr>
          </thead>
          <tbody>
          {% for sku in skus|dictsort:"start_time" %}
          <tr>
            <td>{{sku.topic}}</td>
            <td>{{sku.provider}}</td>
            <td>{{sku.start_time|date:"Y-m-d H:i"}}</td>
            <td>{{sku.get_status_display}}</td>
            <td></td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">{% trans "You have no ongoing classes currently. Have a nice day!" %} <a class="btn dark" href="javascript:">{% trans "Schedule a new class now!" %}</a> </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}